hostname {{ ansible_hostname }}

log file /var/log/frr/frr.log
service integrated-vtysh-config
line vty
frr version 7.0

debug bfd peer
debug bfd network
debug bfd zebra

debug bgp graceful-restart
debug bgp neighbor-events
debug bgp updates
debug bgp update-groups


router bgp 64998
  bgp router-id {{ leaves[leaf].cidr | ansible.utils.nthhost(2) }}
  bgp log-neighbor-changes
  bgp graceful-shutdown
  no bgp ebgp-requires-policy

  neighbor uplink peer-group
  neighbor uplink remote-as external
  neighbor uplink bfd
  neighbor uplink bfd profile openshift
  neighbor uplink password f00barZ
  neighbor {{ leaves[leaf].cidr | ansible.utils.nthhost(1) }} peer-group uplink

  address-family ipv4 unicast
    redistribute connected route-map vip
  exit-address-family

  address-family ipv6 unicast
    redistribute connected route-map vip
    neighbor uplink activate
  exit-address-family

  address-family l2vpn evpn
    neighbor uplink activate
  exit-address-family

ip nht resolve-via-default

bfd
  profile openshift
    detect-multiplier 10
    transmit-interval 500
    receive-interval 500

{% for vip in vips %}
access-list 7 seq {{ loop.index }} permit {{ vip }}/32
{% endfor %}

route-map vip permit 1
  match ip address 7
